body {
    margin: 0;
    background-color: #0d1117;
}

header i {
    font-size: 32px;
}

.header-list h5 {
    margin: 0 20px 0 20px;
}

header {
    color: #ffffff;
}

header div {
    display: inline-flex;
}

.fa-github {
    color: #ffffff;
}